html {
  background-color: rgb(27, 27, 27);
  scroll-behavior: smooth;
}
body {
  max-width: 320px;
  margin: auto;
  background: #e2e2e1;
  color: #42301e;
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-color: #2f5c75;
}

.titre-principal-header {
  position: absolute;
  top: 10%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #9c804d;
  font-size: 13px;
  letter-spacing: 7px;
}

header nav {
  padding: 20px;
  text-align: center;
  color: #e2e2e1;
}

main  
p {
  padding: 20px;
}

.titre-nom-compositeur {
  position: absolute;
  top: 57%;
  left: 62%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-size: 22px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

main .compositeur-fond p {
  background-color: #e2e2e1;
}

.titre-nom-realisateur {
  position: absolute;
  top: 120%;
  left: 38%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-size: 22px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

main .realisateur-fond p {
  background-color: #7c9396;
  margin: 0;
}

h3 {
  font-size: 35px;
  text-align: center;
  margin: 0px;
}

h4 {
  font-size: 19px;
  text-align: right;
  padding-left: 10px;
}

main .bande-annonce-fond a {
  width: 100%;
  background-color: black;
  color: white;
  align-items: center;
}

main .titrage-musique-main h3 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 7px;
}

main .musique-main {
  background: #432613;
  color: #bf996f;
}

main .titrage-partitions-main h3 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 7px;
}

main .partitions-main {
  text-align: center;
  background: #935e36;
  color: #bf996f;
}

footer {
  background: #024a5e;
  color: #b18b70;
  border-width: 5px;
  border-bottom: none;
  padding: 20px;
  text-align: center;
  padding-bottom: 20px;
}
