html {
  background-color: rgb(27, 27, 27);
  scroll-behavior: smooth;
}
body {
  max-width: 320px;
  margin: auto;
  background: #e2e2e1;
  color: #42301e;
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-color: #2f5c75;
}

.titre-principal-header {
  position: absolute;
  top: 10%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #9c804d;
  font-size: 13px;
  letter-spacing: 7px;
}

header nav {
  padding: 20px;
  text-align: center;
  color: #e2e2e1;
}

main  
p {
  padding: 20px;
}

footer {
  background: #024a5e;
  color: #b18b70;
  border-width: 5px;
  border-bottom: none;
  padding: 20px;
  text-align: center;
  padding-bottom: 20px;
}
